{% extends 'base.html'%}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="card card-chart">
      <div class="card-header ">


        <div class="row">

          <div class="col-sm-4 text-left">
            <h5 class="card-category">Live Updates</h5>
            <h2 class="card-title">Predictions</h2>
          </div>
          <div class="col-sm-4"><select class="selectpicker" data-style="btn select-with-transition float-right"
              title="Device Type" data-size="7">
              <option>Mustard</option>
              <option>Ketchup</option>
              <option>Barbecue</option>
            </select></div>
          <div class="col-sm-4">
            <div class="btn-group btn-group-toggle float-right fac-toggle" data-toggle="buttons">
              <label class="btn btn-primary btn-simple active " id="0">
                <input type="checkbox" class="fac-toggle-a" name="options" checked>
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Accounts</span>
                <span class="d-block d-sm-none">
                  <i class="tim-icons icon-single-02"></i>
                </span>
              </label>
              <label class="btn btn-primary btn-simple active fac-toggle" id="1">
                <input type="checkbox" class="d-none d-sm-none fac-toggle-b" name="options" checked>
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Purchases</span>
                <span class="d-block d-sm-none">
                  <i class="tim-icons icon-gift-2"></i>
                </span>
              </label>
              <label class="btn btn-primary btn-simple active fac-toggle" id="2">
                <input type="checkbox" class="d-none fac-toggle-c" name="options" checked>
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Sessions</span>
                <span class="d-block d-sm-none">
                  <i class="tim-icons icon-tap-02"></i>
                </span>
              </label>

            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <!-- <div class="chart-area"> -->
        <!-- <canvas id=""> -->
        <div id="chart_div" style="height: 40em;"></div>

        <!-- </canvas> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Test audio</h5>
        <h3 class="card-title"><i class="tim-icons icon-cloud-upload-94 text-primary"></i> Upload Sample</h3>
      </div>
      <div class="card-body" style="height: 220px;">
        <!-- <div class="chart-area">
                  <canvas id="chartLinePurple"></canvas>
                </div> -->
        <form style="text-align: center;" ref='uploadForm' id='uploadForm' method='post' action=""
          onsubmit="return false" encType="multipart/form-data">
          <div class="fileinput fileinput-new text-center" data-provides="fileinput">
            <div class="fileinput-preview fileinput-exists thumbnail img-circle " style="height: 60px;"></div>
            <div style="display: flex;">
              <span class="btn btn-sm btn-raised btn-round btn-primary btn-file">
                <span class="fileinput-new">Upload Audio</span>
                <span class="fileinput-exists">Change</span>
                <input type="file" accept=".wav , .mp3" name="sampleFile" /></span>

              &nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="btn btn-sm btn-danger btn-round fileinput-exists"
                data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
            </div>
          </div>
          <br>
          <div style="text-align:right;position: absolute;bottom: 0; width: 96%;">
            <button id="upload_audio_btn" type="submit "
              class="btn  btn-primary btn-round btn-sm mr-auto">Submit</button>
          </div>
        </form>
        <div class="loader-div" style="display: none;">
          <span class="loader"></span>
        </div>
        <div class="result-audio" style="display: none;">
        </div>

      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Plots</h5>
        <h3 class="card-title"><i class="tim-icons icon-chart-bar-32 text-info"></i> Semi Supervised</h3>
      </div>
      <div class="card-body">
        <div id="chart_div_2" style="height: 40em;"></div>
      </div>
    </div>
  </div>
  <!-- <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Completed Tasks</h5>
                <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> 12,100K</h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="chartLineGreen"></canvas>
                </div>
              </div>
            </div>
          </div> -->
</div>
<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="card card-tasks">
      <div class="card-header ">
        <h6 class="title d-inline">Tasks(5)</h6>
        <p class="card-category d-inline">today</p>
        <div class="dropdown">
          <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
            <i class="tim-icons icon-settings-gear-63"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#pablo">Action</a>
            <a class="dropdown-item" href="#pablo">Another action</a>
            <a class="dropdown-item" href="#pablo">Something else</a>
          </div>
        </div>
      </div>
      <div class="card-body ">
        <div class="table-full-width table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="">
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </td>
                <td>
                  <p class="title">Update the Documentation</p>
                  <p class="text-muted">Dwuamish Head, Seattle, WA 8:47 AM</p>
                </td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                    <i class="tim-icons icon-pencil"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="" checked="">
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </td>
                <td>
                  <p class="title">GDPR Compliance</p>
                  <p class="text-muted">The GDPR is a regulation that requires businesses to protect the personal data
                    and privacy of Europe citizens for transactions that occur within EU member states.</p>
                </td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                    <i class="tim-icons icon-pencil"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="">
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </td>
                <td>
                  <p class="title">Solve the issues</p>
                  <p class="text-muted">Fifty percent of all respondents said they would be more likely to shop at a
                    company </p>
                </td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                    <i class="tim-icons icon-pencil"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="">
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </td>
                <td>
                  <p class="title">Release v2.0.0</p>
                  <p class="text-muted">Ra Ave SW, Seattle, WA 98116, SUA 11:19 AM</p>
                </td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                    <i class="tim-icons icon-pencil"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="">
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </td>
                <td>
                  <p class="title">Export the processed files</p>
                  <p class="text-muted">The report also shows that consumers will not easily forgive a company once a
                    breach exposing their personal data occurs. </p>
                </td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                    <i class="tim-icons icon-pencil"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="">
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </td>
                <td>
                  <p class="title">Arival at export process</p>
                  <p class="text-muted">Capitol Hill, Seattle, WA 12:34 AM</p>
                </td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                    <i class="tim-icons icon-pencil"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Simple Table</h4>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>{% endblock %}
{%block scripts%}
<script>
  Pusher.logToConsole = true;
  const pusher = new Pusher('95943c2c1888f27777ef', { // Replace with 'key' from dashboard
    cluster: 'ap2',              // Replace with 'cluster' from dashboard
    forceTLS: true
  });
  google.charts.load('current', { 'packages': ['corechart'] });
  google.charts.setOnLoadCallback(plotchart);
  $(document).on('click', '.fac-toggle', function () {
    pusher.unsubscribe('price-btcusd');
    google.charts.setOnLoadCallback(plotchart);
  });

  function plotchart() {
    // Instead of hard-coding the initial table data,
    // you could fetch it from your server.
    let a = $('.fac-toggle-a').is(":checked"), b = $('.fac-toggle-b').is(":checked"), c = $('.fac-toggle-c').is(":checked");;
    let temp = [[1400, 3424, 1845],
    [1460, 1400, 3424],
    [1532, 1460, 1400],
    [2326, 1532, 1460],
    [5234, 2326, 1532],
    [3234, 5234, 2326],
    [4234, 3234, 5234],
    [1245, 4234, 3234],
    [1845, 1245, 4234],
    [3424, 1845, 1245]];
    var currentdate = new Date();
    var time = currentdate.getHours() + ":"
      + currentdate.getMinutes() + ":"
      + currentdate.getSeconds();
    let dt = [];
    dt[0] = [];
    dt[0].push('Time');
    if (a)
      dt[0].push('Fac A');
    if (b)
      dt[0].push('Fac B');
    if (c)
      dt[0].push('Fac C');
    for (var i = 1; i < 11; i++) {
      dt[i] = [];
      currentdate.setSeconds(currentdate.getSeconds() + 5);
      var time = ('0' + currentdate.getHours()).slice(-2) + ":"
        + ('0' + currentdate.getMinutes()).slice(-2) + ":"
        + ('0' + currentdate.getSeconds()).slice(-2);
      dt[i].push(time);
      if (a)
        dt[i].push((Math.random()));
      if (b)
        dt[i].push((Math.random()));
      if (c)
        dt[i].push((Math.random()));

    }
    const dataTable = new google.visualization.arrayToDataTable(dt);
    const chart = new google.visualization.LineChart(
      document.getElementById('chart_div'));
    const options = {
      title: '',
      curveType: 'function',
      hAxis: { title: 'Time', titleTextStyle: { color: '#fff', fontName: "'Poppins', sans-serif", fontSize: '15px', italic: false, bold: true }, gridlines: { color: '#27293d', count: 5, width: 1 }, minorGridlines: { count: 0 }, textStyle: { color: '#9A9A9A', fontName: "'Poppins', sans-serif", fontSize: '15px' }, baselineColor: '#27293d' },
      vAxis: { minValue: 0, titleTextStyle: { color: '#fff' }, gridlines: { color: '#27293d', count: 2, width: 1 }, minorGridlines: { count: 0 }, textStyle: { color: '#9A9A9A', fontName: "'Poppins', sans-serif", fontSize: '15px' }, baselineColor: '#27293d' },
      animation: { duration: 1000, easing: 'out', startup: true },
      backgroundColor: { fill: 'transparent' },
      colors: ['#d048b6', '#1f8ef1', '#00d6b4'],
      legend: { textStyle: { color: '#9A9A9A', fontName: "'Poppins', sans-serif", fontSize: '10px', position: 'bottom' } },
      crosshair: { trigger: 'both', opacity: 0.5 },
      pointSize: 7,
      pointShape: 'diamond',
      selectionMode: 'multiple',

    };
    chart.draw(dataTable, options);


    const channel = pusher.subscribe('price-btcusd');
    channel.bind('new-price', data => {
      currentdate.setSeconds(currentdate.getSeconds() + 5);
      var time = ('0' + currentdate.getHours()).slice(-2) + ":"
        + ('0' + currentdate.getMinutes()).slice(-2) + ":"
        + ('0' + currentdate.getSeconds()).slice(-2);
      let row = [];
      row.push(time);
      if (a)
        row.push(data.value[0]);
      if (b)
        row.push(data.value[1]);
      if (c)
        row.push(data.value[2]);
      dataTable.addRow(row);
      chart.draw(dataTable, options);
      setTimeout(function () {
        //your code to be executed after 1 second

        dataTable.removeRow(0, 1);
        chart.draw(dataTable, options);
      }, 2500);
    });
  };
</script>
<script>

  $(document).on('click', '#upload_audio_btn', function () {
    form_submit();
  });
  function form_submit() {

    var form = $('#uploadForm')[0];
    var formdata = new FormData(form);
    $('#uploadForm').css("display", "none");
    $('.loader-div').css("display", "block");
    // for (var pair of formdata.entries()) {
    //     console.log(pair[0]+ ', ' + pair[1]);
    // }
    $("#upload_audio_btn").prop("disabled", true);

    $.ajax({
      type: "POST",
      enctype: 'multipart/form-data',
      url: "./upload",
      data: formdata,
      processData: false,
      contentType: false,
      cache: false,
      timeout: 600000,
      success: function (data) {
        $('.result-audio').html(data);
        $("#upload_audio_btn").prop("disabled", false);
        $('.result-audio').css("display", "block");
        $('.loader-div').css("display", "none");
        // console.log(data);

      },
      error: function (e) {

        console.log("ERROR : ", e);
        $("#upload_audio_btn").prop("disabled", false);

      }
    });
  };

</script>
<script>

  var dt = [];
  dt[0] = ['A', 'B'];
  var i = 1;
  {% for i in records %}
  dt[i] = [parseFloat({{ i[0]}}), parseFloat({{ i[1]}})];
  i++;
  {% endfor %}
  console.log(dt)
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable(dt);

    var options = {
      title: '',
      // curveType: 'function',
      hAxis: { title: 'Time', minValue: -100, maxValue: 100, titleTextStyle: { color: '#fff', fontName: "'Poppins', sans-serif", fontSize: '15px', italic: false, bold: true }, gridlines: { color: '#27293d', count: 5, width: 1 }, minorGridlines: { count: 0 }, textStyle: { color: '#9A9A9A', fontName: "'Poppins', sans-serif", fontSize: '15px' }, baselineColor: '#27293d' },
      vAxis: { minValue: 0, minValue: -100, maxValue: 100, titleTextStyle: { color: '#fff' }, gridlines: { color: '#27293d', count: 2, width: 1 }, minorGridlines: { count: 0 }, textStyle: { color: '#9A9A9A', fontName: "'Poppins', sans-serif", fontSize: '15px' }, baselineColor: '#27293d' },
      animation: { duration: 5000, easing: 'out', startup: true },
      backgroundColor: { fill: 'transparent' },
      colors: ['#1f8ef1'],
      legend: { textStyle: { color: '#9A9A9A', fontName: "'Poppins', sans-serif", fontSize: '10px', position: 'bottom' } },
      crosshair: { trigger: 'both', opacity: 0.5 },
      pointSize: 1,
      pointShape: 'diamond',
      selectionMode: 'multiple',
      // hAxis: {title: 'Age', minValue: 0, maxValue: 15},
      // vAxis: {title: 'Weight', minValue: 0, maxValue: 15},
      // legend: 'none'
    };

    var chart = new google.visualization.ScatterChart(document.getElementById('chart_div_2'));

    chart.draw(data, options);
  }
</script>
{% endblock %}