{% extends 'base.html' %}
{% block content%}
<div class="row">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Report</h5>
            </div>
            <form  action="" enctype="multipart/form-data" method="post">
            <div class="card-body">
                
                    <div class="row">
                        <!-- <div class="col-md-5 pr-md-1">
                <div class="form-group">
                  <label>Company (disabled)</label>
                  <input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc.">
                </div>
              </div> -->
                        <div class="col-md-4 pr-md-1">
                            <div class="form-group">
                  
                                <!-- <input type="text" class="form-control" placeholder="Username"
                                    value="{{session.user['userName']}}"> -->
                                    <select class="selectpicker" name="factory" data-style="btn select-with-transition float-right"
                              title="Device Type" data-size="7">
                                    {% for i in factories %}<option value="{{i}}">{{i | title}}</option>{% endfor %}
                                  </select>
                            </div>
                        </div>
                        <div class="col-md-4 pr-md-1">
                            <div class="form-group">
                                
                              <select class="selectpicker" name="device" data-style="btn select-with-transition float-right"
                              title="Device Type" data-size="7">
                              {% for i in devices %}<option value="{{i}}">{{i | title}}</option>{% endfor %}
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-md-1">
                            <div class="form-group">
                                <label>From:</label>
                                <input id="from"type="date" name="from" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 pr-md-1">
                          <div class="form-group">
                              <label>To:</label>
                              <input type="date" name="to" class="form-control">
                          </div>
                      </div>
                  </div>
                    <!-- <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" placeholder="Home Address"
                    value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                </div>
              </div>
            </div> -->
                    <!-- <div class="row">
              <div class="col-md-4 pr-md-1">
                <div class="form-group">
                  <label>City</label>
                  <input type="text" class="form-control" placeholder="City" value="Mike">
                </div>
              </div>
              <div class="col-md-4 px-md-1">
                <div class="form-group">
                  <label>Country</label>
                  <input type="text" class="form-control" placeholder="Country" value="Andrew">
                </div>
              </div>
              <div class="col-md-4 pl-md-1">
                <div class="form-group">
                  <label>Postal Code</label>
                  <input type="number" class="form-control" placeholder="ZIP Code">
                </div>
              </div>
            </div> -->
                    <!-- <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label>About Me</label>
                  <textarea rows="4" cols="80" class="form-control" placeholder="Here can be your description"
                    value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                </div>
              </div>
            </div> -->
                
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-fill btn-primary generate-report-button"><i class="tim-icons icon-cloud-download-93"></i>  Download report</button>
            </div>
            </form>
        </div>
    </div>
    <!-- <div class="col-md-4">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <img class="avatar" src="../assets/img/emilyz.jpg" alt="...">
              <h5 class="title">Mike Andrew</h5>
            </a>
            <p class="description">
              Ceo/Co-Founder
            </p>
          </div>
          </p>
          <div class="card-description">
            Do not be scared of the truth because we need to restart the human foundation in truth And I love you like
            Kanye loves Kanye I love Rick Owens’ bed design but the back is...
          </div>
        </div>
        <div class="card-footer">
          <div class="button-container">
            <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
              <i class="fab fa-facebook"></i>
            </button>
            <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
              <i class="fab fa-twitter"></i>
            </button>
            <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
              <i class="fab fa-google-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div> -->
</div>
{%endblock %}
{%block scripts%}
<script>
$(document).on('click', '.generate-report-button', function () {
    form_submit();
  });
  function form_submit() {

    var form = $('#report-form')[0];
    var formdata = new FormData(form);
    $('#report-form').css("display", "none");
    $('.loader-div').css("display", "block");
    // for (var pair of formdata.entries()) {
    //     console.log(pair[0]+ ', ' + pair[1]);
    // }
    // $("#upload_audio_btn").prop("disabled", true);

    $.ajax({
      type: "POST",
      enctype: 'multipart/form-data',
      url: "./report",
      data: formdata,
      processData: false,
      contentType: false,
      cache: false,
      timeout: 600000,
      success: function (data) {
        // $('.result-audio').html(data);
        $('#report-form').css("display", "block");
        $('.loader-div').css("display", "none");
        // console.log(data);

      },
      error: function (e) {

        console.log("ERROR : ", e);
        // $("#upload_audio_btn").prop("disabled", false);
        $('#report-form').css("display", "block");

      }
    });
  };

</script>
{%endblock%}